<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated restInPeace -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="restInPeace.presentation.RestInPeaceModelWizardID"
            name="%_UI_RestInPeaceModelWizard_label"
            class="restInPeace.presentation.RestInPeaceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RestInPeaceModelFile.gif">
         <description>%_UI_RestInPeaceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated restInPeace -->
      <editor
            id="restInPeace.presentation.RestInPeaceEditorID"
            name="%_UI_RestInPeaceEditor_label"
            icon="icons/full/obj16/RestInPeaceModelFile.gif"
            extensions="restinpeace"
            class="restInPeace.presentation.RestInPeaceEditor"
            contributorClass="restInPeace.presentation.RestInPeaceActionBarContributor">
      </editor>
   </extension>

</plugin>
